<section id="contact" class="contact pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center pt-5">
          <h3 class="title-a text-light">
            Contact
          </h3>
          <p class="subtitle-a text-light">
            Contact me
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <form id="contact-form" method="post" action="">
        <input name="name" type="text" class="form-control" placeholder="Your Name" required /><br />
        <input name="email" type="email" class="form-control" placeholder="Your Email" required /><br />
        <textarea name="message" class="form-control" placeholder="Message" rows="4" required></textarea><br />
        <input type="submit" class="form-control submit" value="SEND MESSAGE" />
      </form>
    </div>
    <br />
  </div>
</section>
