<main id="main">
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center pt-5">
            <h3 class="title-a text-light">
              About me
            </h3>
            <p class="subtitle-a text-light">
              Who I am
            </p>
            <div class="line-mf"></div>
          </div>
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <p class="lead">
                    I like to face challenging problems and solve them in creative ways. At the University of Calgary, I am working towards a Bachelor's of Science in Software Engineering, currently in my third-year. 
                  </p>
                  <p class="lead">
                    Currently an intern at Qube Technologies, I have gained industry experience in full-stack development. I'm familiar with a variety of programming languages, frameworks, and libraries, including JavaScript, TypeScript, React, Angular, C#, and .NET, but I'm always looking to learn new skills to add to my repertoire.
                  </p>
                </div>
              </div>
              <div class="about-mf about-img">
                <img src="../../../assets/img/pic.jpg" alt="Me">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
