<section id="projects" class="services-mf pt-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center pt-5">
          <h3 class="title-a text-light">
            Projects
          </h3>
          <p class="subtitle-a text-light">
            Some projects I've worked on
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-ico">
            <a><i class="fas fa-user fa-4x"></i></a>
          </div>
          <div class="project-content">
            <h2 class="project-title">Personal Portfolio</h2>
            <p class="project-description text-center">
              This application you are looking at. I used Angular and ASP.NET frameworks, C#, HTML, CSS, TypeScript, and JavaScript.
            </p>
          </div>
          <div class="project-git">
            <a href="https://github.com/JayChuang8/portfolio-webapp" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-ico">
            <a><i class="fas fas fa-calendar-alt fa-4x"></i></a>
          </div>
          <div class="project-content">
            <h2 class="project-title">Appointment Scheduler</h2>
            <p class="project-description text-center">
              Designed for a small massage therapy business. I used ASP.NET MVC framework, C#, HTML, CSS, and JavaScript.
            </p>
          </div>
          <div class="project-git">
            <a href="https://github.com/JayChuang8/AppointmentScheduler" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-box">
          <div class="project-ico">
            <a><i class="fas fa-exchange-alt fa-4x"></i></a>
          </div>
          <div class="project-content">
            <h2 class="project-title">TCP Simulator</h2>
            <p class="project-description text-center">
              Simulates the transfer of a file to and from a server. This project was coded in Java.
            </p>
          </div>
          <div class="project-git">
            <a href="https://github.com/JayChuang8" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
