<section id="experience" class="portfolio-mf sect-pt4 pb-5 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center pt-5">
          <h3 class="title-a">
            Experience
          </h3>
          <p class="subtitle-a">
            Education and work experience
          </p>
          <a href="../../../assets/JayChuangResume.pdf" download="resume">Download my resume</a>
          <br />
          <p></p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="center-line">
        <a href="#experience" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-terminal"></i>
          <div class="details">
            <span class="title">Full-Stack Software Developer</span>
            <span>Sep 2022 - Present</span>
          </div>
          <p>
            <b>Qube Technologies</b>
            <br />
            Actively participated in the complete development life cycle, encompassing tasks such as gathering requirements, design, development, testing, deployment, and maintenance. Demonstrated expertise across a diverse tech stack, which included proficiency in C#, ASP.NET Core, Postgres, React, and TypeScript.
          </p>
          <div class="bottom">
            <a href="https://www.qubeiot.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Calgary, AB</i>
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-code-branch"></i>
          <div class="details">
            <span class="title">Software Developer Intern</span>
            <span>Jan 2022 - August 2022</span>
          </div>
          <p>
            <b>Qube Technologies</b>
            <br />
            Worked in an agile project development team to develop a platform using React and .NET Core frameworks, that enables users to gain insights from real-time IoT sensor data.
          </p>
          <div class="bottom">
            <a href="https://www.qubeiot.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Calgary, AB</i>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-code"></i>
          <div class="details">
            <span class="title">Software Developer Intern</span>
            <span>Sep 2021 - Dec 2021</span>
          </div>
          <p>
            <b>Office of the Auditor General of Canada</b>
            <br />
            Worked in an agile software development environment, building Angular and .NET Core applications and services for the Auditor General of Canada.
          </p>
          <div class="bottom">
            <a href="https://www.oag-bvg.gc.ca/internet/english/admin_e_41.html" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Ottawa, ON</i>
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-dollar-sign"></i>
          <div class="details">
            <span class="title">Computing Sales Associate</span>
            <span>Oct 2019 - Aug 2021</span>
          </div>
          <p>
            <b>Best Buy Canada</b>
            <br />
            Responsible for sales in the computer-based department, developing relationships with customers in short time frames to close sales.
          </p>
          <div class="bottom">
            <a href="https://www.bestbuy.ca/en-ca" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Calgary, AB</i>
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fas fa-graduation-cap"></i>
          <div class="details">
            <span class="title">University of Calgary</span>
            <span>Sep 2018 - May 2023</span>
          </div>
          <p>
            <b>Bachelor's of Science</b>
            <br />
            Major in Software Engineering
          </p>
          <div class="bottom">
            <a href="https://www.ucalgary.ca/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Calgary, AB</i>
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fas fa-school"></i>
          <div class="details">
            <span class="title">Dr. EP Scarlett High School</span>
            <span>Sep 2015 - Jun 2018</span>
          </div>
          <p>
            <b>High School Diploma</b>
          </p>
          <div class="bottom">
            <a href="https://school.cbe.ab.ca/school/DrEPScarlett/Pages/default.aspx" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            <i>Calgary, AB</i>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
